body {
  font-family: 'Roboto Slab', serif;
  background-color: lightgray;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 1300px;
  margin: 0 auto;
}

section, img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

section {
  list-style-position: inside;
  padding: 3px;
  border: 2px solid #67032f;
  background-color: #92b4c5;
}

#title, h2 {
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #353533;
  list-style-type: none;
  padding: 5px;
  margin: 2px;
}

section, nav {
  border-radius: 5px;
}

div {
  text-align: center;
}

#about-text {
  text-align: left;
}

p {
  padding: 10px;
}

#about > img {
  height: auto;
  width: auto;
  margin: 20px;
  border: solid 2px  #353533;
  border-radius: 5%;
  float: left;
}

figure > img {
  height: 200px;
  width: 250px;
  margin: 30px;
  border: solid 2px  #353533;
}
#cats figure{
  display: grid;
  align-items: center;
  text-align: center;
}

#cats {
  display: flex;
  justify-content: center;
}

nav > a {
  text-decoration: none;
  color: whitesmoke;
  padding: 7px;
}

@media (max-width: 1000px) {
  #about > img {
    width: 50%;
  }
  section {
    display: grid;
  }

  #cats {
    display: grid;
  }
}