body {
  font-family: 'Roboto Slab', serif;
  background-color: lightgray;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 81em;
  margin: 0 auto;
}

#title, #cats figure, h2, h3, div {
  text-align: center;
}

#cats, nav {
  display: flex;
}

#about > img, figure img {
  border: solid 0.125em  #353533;
}

#title, h2 {
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #353533;
  list-style-type: none;
  min-height: 2.25em;
  padding: 0.5em;
  margin: 0.125em;
}

section, nav {
  border-radius: 0.3125em;
}

section, img {
  margin-bottom: 0.125em;
  margin-left: auto;
  margin-right: auto;
}

#about-text {
  text-align: left;
}

#about > img {
  height: auto;
  width: auto;
  margin: 1.25em;
  border-radius: 5%;
}

#cats img {
  height: 200px;
  width: 250px;
  margin:30px;
}

#cats figure {
  display: grid;
  align-items: center;
}

#cats {
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.4375em;
  display: block;
}

section {
  display: flow-root;
  list-style-position: inside;
  padding: 0.1875em;
  border: 0.125em solid #5b2644;
  background-color: #92b4c5;
}

p {
  padding: 0.6250em;
}

article {
  float: left;
}

.nav-links {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.menu-toggle {
    display: none;
}

a:hover {
  text-decoration: underline;
}

.menu-toggle:hover {
  cursor: pointer;
}

.nav-vl {
  display: none;
}

@media (max-width: 51em) {
  #about > img {
    width: 50%;
  }

  nav {
    display: flex;
    justify-content: left;
    position: relative;
  }

  section, #cats {
    display: grid;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 0.3125em;
    margin: 0.4375em;
  }

  .menu-toggle span {
    display: block;
    width: 2.0625em;
    height: 0.25em;

    background: whitesmoke;
    border-radius: 0.1875em;
  }

  .menu-toggle span:not(:last-child) {
    margin-bottom: 0.3125em;
  }

  a:hover {
    background-color: #555;
    border-radius: 0.3125em;
  }

  .nav-vl {
    display: inline;
    border-left: 0.1875em solid whitesmoke;
  }

  .nav-hide {
    display: none;
  }
}

@media (max-width: 33em) {
  nav, .nav-links {
    flex-direction: column;
  }

  .nav-vl {
    display: none;
  }
}